#  Сначала игнорируем всё содержимое домашней директории
*

#  Исключаем из игнора сам файл .gitignore (чтобы изменения в нем отслеживались)
!.gitignore

#  Разрешаем папки (без этого Git не зайдет внутрь)
#  Разрешаем конкретные файлы внутри разрешенных папок
!.config/
!.config/nvim/
!.config/nvim/**

# !.config/mpv/
# !.config/mpv/**
# !.config/mpd/
# !.config/mpd/**

!.bashrc
!.vimrc

#  Исключаем мусор внутри разрешенных папок (опционально)
.config/nvim/undo/
# .config/nvim/spell/


#  Разрешаем папку Temp
# Важно: !Temp/ разрешает папку, а !Temp/** разрешает всё внутри неё
# !Temp/
# !Temp/**

#  Разрешаем путь Ins/001
# Нюанс: чтобы разрешить вложенную папку, нужно сначала разрешить родительскую, 
# но не её содержимое, а затем саму целевую папку.
# !Ins/
# Ins/*
# !Ins/001/
# !Ins/001/**

# !.config/
# .config/*
